{% extends 'base.html.twig' %}

{% block title %}Liste recrutement!{% endblock %}

        {% block stylesheets %}
            <style>
                body{
                    background-color: #F5F5F5;
                }
                #tes{
                    width: 200px;
                }
            </style>
        {% endblock %}
{% block body %}
    <center>
        <h2><b>NOUVELLE RECRUTEMENT</b></h2><hr>
        {{ form_start(form) }}
        {{ form_row(form.post) }}<br>
        {{ form_row(form.fichier) }}<br>
        {{ form_row(form.profil) }}<br>
        {{ form_row(form.mission) }}<br>
        {{ form_row(form.autre) }}<br>
        <input id="tes" type="submit" value="AJOUTER" class="btn btn-success">
        {{ form_end(form) }}
    </center>


{% endblock %}
