{% extends 'base.html.twig' %}

{% block title %}Hello RecrutmentController!{% endblock %}

{% block body %}
    <style>


    </style>
    <div class="container">
            <br>
            <div class="ol-sm-3">

            </div>
        <center>
            <div class="col-sm-6" align="left" style="background-color: #C0C0C0; padding: 25px 20px 20px 30px">

                <div class="rec">

                    <b><p class="text-primary" align="center"><strong>CONTENU DE MESSAGE</strong></p></b>
                        <hr>
                        <b class="text-info">Nom:</b><br>
                        {{ v.name }}<br>
                        <hr>
                        <b>Titre de message:</b><br>
                    {{ v.titre }}<br>

                        <hr>
                        <b>Email:</b><br>
                    {{ v.email }}<br>
                        <hr>

                        <b>Contenu de message:</b><br>
                    {{ v.message | raw }}<br>
                </div>
                <br>
                <br>
                <div>
                    <a href="{{ path('read_message') }}" class="btn btn-warning">OK</a><br>
                </div>
            </div>
        </center>

            <div class="col-sm-3">

            </div>
    </div>
{% endblock %}